extends layout

block content
    p
    div(class="item")
      table
        tr
          th id
          th data otrzymania
          th Nazwa firmy
          th adres
          th nip
          th Dane osobowe 
          th Nr tel
          th mail firmy
          th obiekt badany
          th Czy jest już dodany
          th Uzupełnij  dane i dodaj do głównej bazy danych
        each item, index in data
          tr
            td=index
            td=nowaData[index]
            td=item.nazwa_firmy
            td=item.adres
            td=item.nip
            td=item.imieINazwisko  
            td=item.nrTel_firmy
            td=item.adresMailowyFirmy
            td=item.Obiekt_bada
            if item.CzyDodanoJuz ==="true"
              td.added dodany już do bazy 
              td
               a( class='linkListowy' href='/add/add/'+item._id)   dodaj ponownie
            else 
              td.notadded nie ma go jeszcze w bazie
              td
                a( class='linkListowy' href='/add/add/'+item._id)   Uzupełnij formularz
              
            
            //- td
            //-   a(href='/news/storyOfEdit/'+item._id) Sprawdź
            //- td
            //-   a(href='/news/delete/'+item._id+'/'+item.zlecajacy+'/'+item.cena_brutto ) usuń
//- item.oplacono===true?'tak':'nie'