extends layout

block content
  h1= title
  h2= Information
  if errors.errors !== undefined
    each message in errors.errors
       p(class='notactive')=message
  form(method='post')
    p
        label Login
        input(type='text' name='login' value=body.login)
    p 
        label Hasło
        input(type='password' name='password' value=body.password)
    p
        input(type="submit" value='zaloguj')
